.top-section {
  position: relative;

  .circle {
    width: 600px;
    height: 400px;
    border-radius: 50%;
    background: $primary-color;
    position: absolute;
    top: -200px;
    left: -100px;
    z-index: 1;
  }
  .curve {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: -1;
  }
}

.top__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 800px;
  background: #fff8f0;
  border-radius: 50%;
}

.contacts-wrapper {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 80px;

  a {
    font-size: 60px;
    text-decoration: none;
    display: block;
    color: $primary-color;
    margin-bottom: 10px;
  }

  span {
    display: block;
    font-family: $lato;
    font-size: 30px;
  }
  .free-around-ru {
    text-align: right;
  }
}


@media only screen and (max-width: 1200px) {
  .top-section {
    position: relative;
  
    .circle {
      width: 300px;
      height: 100px;
      border-radius: 50%;
      background: $primary-color;
      position: absolute;
      top: -50px;
      left: -50px;
    }
    .curve {
      img {
        width: 80px;
      }
    }
  }
  .contacts-wrapper {
    bottom: 0;
  }
}